@import 'styles/_variables';

.wrapper {
  padding-bottom: 15px;
  & > input {
    width: 85%;
    text-align: left;
    padding: 5px 10px;
    border-right: none;
    vertical-align: middle;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > input + div {
    width: 15%;
    cursor: pointer;
    padding: 3px 10px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background-color: $secondery;
    border: 1.5px solid $secondery;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover {
      border-color: darken($secondery, 10%);
      background-color: darken($secondery, 10%);
    }
    & > i {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
