@import 'styles/_variables';
@import 'styles/_mixin';

header {
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
  & ul {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}
.header_item {
  @include transition(all 0.3s ease);
  height: 100%;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  & > h1 {
    margin: 0;
    font-size: 1.7em;
  }
  & > i {
    margin-right: 0.2em;
    font-size: 16px !important;
  }
}
div.header_item {
  & > i {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    color: $primary;
    font-size: 2.5em !important;
  }
}
a.header_item:hover {
  background-color: $background-light;
}
main {
  height: calc(100vh - 5% - 72px); // 87%
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(21, 1fr);
  grid-gap: 10px;

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
input {
  width: 100%;
  text-align: right;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid $border-color;
  &.addon {
    width: 90%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    & + div {
      width: 10%;
      color: #000;
      text-align: center;
      padding: 3px 0;
      line-height: 1.5;
      display: inline-block;
      border: 1px solid #adb5bd;
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #fff;
    }
  }
}
button {
  @include transition(all 0.3s ease);
  cursor: pointer;
  display: inline-block;
  color: inherit;
  padding: 3px 15px;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  &.primary {
    @include button($primary);
  }
  &.danger {
    @include button($danger);
  }
}
table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  & thead {
    border-radius: 15px;
    background-color: $background-light;
    & th:first-child {
      border-radius: 5px 0 0 5px;
    }
    & th:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}
footer {
  color: #fff;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
