@import '../../styles/_variables.scss';
@import '../../styles/_mixin.scss';

header {
  text-align: center;
  overflow: hidden;
  & ul {
    list-style: none;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }
}
.header_item {
  @include transition(all 0.3s ease);
  height: 100%;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  & > h1 {
    margin: 0;
    font-size: 1.7em;
  }
  & > i {
    margin-right: 0.2em;
    font-size: 16px !important;
  }
}
div.header_item {
  & > i {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    color: $blue;
    font-size: 2.5em !important;
  }
}
a.header_item:hover {
  background-color: $background-light;
}
main {
  width: 90%;
  margin: 0 auto;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
footer {
  color: #fff;
  text-align: center;
  padding: 15px 25px;
}
