@import 'styles/_variables.scss';
@import 'styles/_mixin.scss';

header {
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
  & ul {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}
.header_item {
  @include transition(all 0.3s ease);
  height: 100%;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  & > h1 {
    margin: 0;
    font-size: 1.7em;
  }
  & > i {
    margin-right: 0.2em;
    font-size: 16px !important;
  }
}
div.header_item {
  & > i {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    color: $blue;
    font-size: 2.5em !important;
  }
}
a.header_item:hover {
  background-color: $background-light;
}
main {
  height: calc(100vh - 5% - 72px); // 87%
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(21, 1fr);
  grid-gap: 10px;

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
footer {
  color: #fff;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
