@import '~open-color/open-color';

$window-background: $oc-gray-9;
$background: $oc-gray-8;
$background-light: $oc-gray-7;
$border-color: $oc-gray-6;
$light-gray: $oc-gray-4;
$white: $oc-gray-1;
$primary: $oc-green-5;
$secondery: $oc-orange-4;
$danger: $oc-red-6;
