@import '~open-color/open-color';

$window-background: $oc-gray-9;
$background: $oc-gray-8;
$background-light: $oc-gray-7;
$border-color: $oc-gray-6;
$white: $oc-gray-1;
$blue: $oc-blue-5;
$primary: $oc-green-5;
$secondery: $oc-yellow-3;
$danger: $oc-red-6;

$font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
  sans-serif;
