@import '~open-color/open-color';

$c-background: $oc-gray-8;
$c-white: $oc-gray-1;
$c-blue: $oc-blue-5;
$c-primary: $oc-green-5;
$c-secondery: $oc-yellow-3;
$c-danger: $oc-red-6;

$font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, Avenir Next,
  Avenir, Helvetica, sans-serif;
