@import '_mixin';
@import '_variables';
@import '_nomalize';

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  color: $white;
  background-color: $window-background;
  font-family: Fira Code, -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
}

body > div {
  height: 100%;
}

input {
  width: 100%;
  text-align: right;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid $border-color;
  &:read-only {
    background: $light-gray;
  }
}

button {
  @include transition(all 0.3s ease);
  cursor: pointer;
  display: inline-block;
  color: inherit;
  padding: 3px 15px;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
}
