@import '_mixin';
@import '_variables';
@import '_nomalize';

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  color: $white;
  font-family: $font-family;
  background-color: $window-background;
}

body > div {
  height: 100%;
}
