@import 'styles/_mixin';

.wrapper {
  @include wrapper('2 / 4', '1 / 12');

  & div:first-child {
    display: inline-block;
    height: 5%;
    width: 100%;
    margin: 0.5em 0;
    & h1 {
      margin: 0;
      font-size: 1em;
      font-weight: 700;
      line-height: 1em;
    }
  }
}
