@import 'styles/_mixin';

.wrapper {
  @include wrapper('2 / 4', '1 / 13');
  & > div:first-child {
    height: 5%;
    margin: 7px 0;
  }
  & > div {
    height: 10%;
    & > h1 {
      margin: 0;
      font-size: 1.2em;
      font-weight: 700;
    }

    & ul.menu {
      display: flex;
      height: 100%;
      margin: 0.5em 0 0;
      padding: 0;
      list-style: none;
      align-items: center;
      border-radius: 3px;
      background-color: $background-light;
      & li {
        width: 20%;
        flex: auto;
        text-align: center;
      }
    }
  }
}
@media only screen and (min-width: 1601px) {
  .wrapper {
    & > div:first-child {
      margin: 7px;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .wrapper {
    & > div:first-child {
      margin: 0 0 7px;
    }
  }
}
