@import 'styles/_mixin';
@import 'styles/_variables';

.wrapper {
  height: calc(85% - 14px);
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
  text-align: center;
  scrollbar-width: thin;
  scrollbar-color: $light-gray $white;

  & > li.noData,
  & > li.loading {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & > li.loading > i {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    color: $secondery;
  }

  &::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
    background: none;
    scroll-behavior: smooth;
  }
  &::-webkit-scrollbar-thumb {
    opacity: 0.5;
    border-radius: 10px;
    background: $border-color;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
}
