@import 'styles/_variables';

.wrapper {
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $background-light;
  }
  &.sell {
    color: red;
  }
  &.buy {
    color: greenyellow;
  }
}
