@import 'styles/_variables';
@import 'styles/_mixin';

.wrapper {
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $background-light;
  }
  &.sell {
    color: red;
  }
  &.buy {
    color: greenyellow;
  }
}

.buttons {
  text-align: right;
  margin-top: 0.5em;
}
.cancelButton {
  margin-left: 0.5em;
  @include button($background-light);
}
.sellButton {
  @include button($danger);
}
.buyButton {
  @include button($primary);
}
