.wrapper {
  text-align: center;
  &.sellOrder {
    color: red;
  }
  &.buyOrder {
    color: greenyellow;
  }
  //   & > div {
  //     display: inline-block;
  //     width: 33%;
  //     padding: 10px;
  //   }
  //   & > div:first-child {
  //     width: 34%;
  //   }
}
