@import 'styles/_variables.scss';

.wrapper {
  //   float: left;
  //   width: 50%;
  //   height: 40%;
  grid-column: 2 / 4;
  grid-row: 12 / -1;
  padding: 15px;
  border-radius: 2px;
  background-color: $background;
}
