@import 'styles/_mixin';

.wrapper {
  height: 50%;
  & p {
    margin: 0;
  }
  & input {
    width: calc(70% - 1em);
    margin-right: 1em;
  }
  & button {
    width: 30%;
    &.primary {
      @include button($primary);
    }
    &.danger {
      @include button($danger);
    }
  }
}
@media only screen and (min-width: 1601px) {
  .wrapper {
    padding: 0.5em 0;
    & p {
      padding: 0;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .wrapper {
    & p {
      padding: 5px 0;
    }
  }
}
