@import 'styles/_mixin';

.wrapper {
  padding: 0.5em 0;
  & p {
    margin: 10px;
  }
  & input {
    width: calc(70% - 1em);
    margin-right: 1em;
  }
  & button {
    width: 30%;
    &.primary {
      @include button($primary);
    }
    &.danger {
      @include button($danger);
    }
  }
}
