@import 'styles/_mixin';

.wrapper {
  & input {
    text-align: right;
  }
  & > div {
    overflow: auto;
  }
  & > button {
    width: 100%;
    line-height: 1.7;
    &.primary {
      @include button($primary);
    }
    &.danger {
      @include button($danger);
    }
  }
}
@media only screen and (min-width: 1601px) {
  .wrapper {
    & p {
      margin: 1em;
    }
    & > div {
      margin-top: 1em;
    }
    & > button {
      margin: 1.8em 0 0;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .wrapper {
    padding-top: 0.5em;
    & p {
      margin: 0.5em;
    }
    & > div {
      margin-top: 0.5em;
    }
    & > button {
      margin: 1.5em 0 0;
    }
  }
}
