@import 'styles/_mixin';
@import 'styles/_variables';

.wrapper {
  height: 86%;

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      @include transition(all 0.3s ease);
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      cursor: pointer;

      &:first-child {
        background-color: $background-light;
        font-weight: 500;
        cursor: initial;
      }

      &:not(:first-child):hover,
      &.active {
        background-color: $border-color;
      }

      & a {
        text-decoration: none;
      }

      & div {
        width: 33%;
        padding: 20px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:first-child {
          width: 34%;
        }
      }
    }
  }
}
