@import 'styles/_variables';
@import 'styles/_mixin';

.wrapper {
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: $border-color;
  }
  &.sell {
    color: $danger;
  }
  &.buy {
    color: $primary;
  }
  & > div {
    display: inline-block;
    width: 33%;
    padding: 10px;
  }
  & > div:nth-child(2) {
    width: 34%;
  }
}

.buttons {
  text-align: right;
  margin-top: 0.5em;
}
.cancelButton {
  margin-left: 0.5em;
  @include button($background-light);
}
.sellButton {
  @include button($danger);
}
.buyButton {
  @include button($primary);
}
